<footer class="footer">
  <div class="footer-content">
    <!-- Sezione Copyright -->
    <div class="footer-left">
      <h5>&copy; 2024 MyApp. All rights reserved.</h5>
    </div>

    <!-- Sezione Link -->
    <div class="footer-middle">
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>

    <!-- Sezione Social -->
    <div class="footer-right">
      <a href="https://facebook.com" class="facebook" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com" class="twitter" target="_blank" aria-label="Twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://instagram.com" class="instagram" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
