* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.swal-title-small {
  font-size: 20px; /* Puoi modificare la dimensione come desideri */
  font-weight: normal; /* Modifica anche il peso del font, se necessario */
}
